@media print {
  .gm-style .gmnoprint,
  .gmnoprint {
    display: none;
  }
}
@media screen {
  .gm-style .gmnoscreen,
  .gmnoscreen {
    display: none;
  }
}
.gm-style .gm-style-mtc label,
.gm-style .gm-style-mtc div {
  font-weight: 400;
}
.gm-style .gm-style-cc span,
.gm-style .gm-style-cc a,
.gm-style .gm-style-mtc div {
  font-size: 10px;
}
.gm-style {
  font-family: Roboto, Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-decoration: none;
}
.gm-style img {
  max-width: none;
}
:root #header + #content > #left > #rlblock_left {
  display: none !important;
}
.black-icon {
  color: black;
  font-size: 24px;
  margin-right: 4px;
  vertical-align: middle;
}
.site-link:hover * {
  color: blue !important;
}
